.container {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  width: 400px;
  display: flex;
}
@media only screen and (max-width: 1536px) {
  .container {
    width: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 180px;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchIcon {
  margin: 5px;
  align-items: center;
  display: flex;
}
.searchText {
  margin: 5px;
}
