.container {
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  width: 400px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchIcon {
  margin: 5px;
}
.searchText {
  margin: 5px;
}
